export GEMINI_API_KEY=$(op read "op://ai/aistudio.google/API-KEY")
export GITHUB_TOKEN=$(op read "op://2tz2g7u7xclssfkdk6wmknjq3y/udcnsgdrdrwzwe7ldkftwjwcbq/token")
export GITLAB_TOKEN=$(op read "op://2tz2g7u7xclssfkdk6wmknjq3y/Gitlab unh-tech/TF-PAT")
